contextvars
loguru
pyaudio
numpy
funasr
torch
pandas
pydantic_settings
openpyxl
chromadb
sentence-transformers
langchain
langchain-community
langchain-openai
langchain-ollama
ollama
fastapi
uvicorn[standard]
python-multipart
av